.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375em;
  
  padding: 0.375em 0.75em;
  margin-bottom: 0.75em;

  width: fit-content;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

