.HeaderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 720px);
  margin-bottom: 2rem;
  transition: all 0.4s ease;

  // [Desktop Only] Hover Interactions
  @media (min-width: 1024px) {
    opacity: 0.75;  // Whole card dimmed when not hovered

    &:hover {
      opacity: 1;

      .mockup {
        &__img {
          top: 5%;
          transform: translateX(-50%) scale(1.05);
        }

        &__asset {
          top: 45%;
          left: 47.5%;
          transform: translateX(-145%) rotate(-20deg) scale(1.15);
        }

        &__me {
          top: -5%;
          transform: translateX(-35%) scale(1.10) rotate(20deg);
        }

        &__background {
          width: 90%;
          background-color: #f4f4f4;
          
          &::before {
            transform: scale(1.25);
            opacity: 1;
          }
        }
      }
    }
  }
}

.mockup {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: var(--border-radius-md);
  overflow: hidden;

  img {
    position: absolute;
    transition: all 0.4s ease;
  }
  
  // Single Mockup Image
  &__img {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);  // center horizontally
    
    width: min(90%, 320px);

    @media (min-width: 375px) {
      top: 0;
    }
    
    @media (min-width: 1024px) {
      top: 4rem;
    }
  }

  // Logo Image
  &__asset {
    top: 60%;
    left: 42.5%;
    width: 42.5px;
    transform: translateX(-145%) rotate(-15deg) scale(1.25);

    @media (min-width: 480px) {
      left: 40%;
      width: 50px;
    }

    @media (min-width: 1024px) {
      top: 70%;
      left: 50%;
      width: 60px;
      transform: translateX(-120%) rotate(-5deg); 
    }
  }

  // Phone Mockup Image
  &__me {
    width: 140px;
    top: 12.5%;
    left: 60%;
    transform: translateX(-47.5%) rotate(10deg);

    @media (min-width: 375px) {
      width: 160px;
    }

    @media (min-width: 600px) {
      top: 0%;
      left: 57.5%;
    }
    
    @media (min-width: 1024px) {
      top: 30%;
      width: 200px;
      transform: translateX(-47.5%) rotate(0deg);
    }
  }
  
  // Background "Bar" behind Mockup
  &__background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  // center horizontally
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    
    width: min(100%, 500px);
    height: 100px;

    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-lg);
    transition: all 0.4s ease;
    
    // Gradient Overlay
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(circle at 50% 150%, #68c8ff, transparent 70%);
      transform: scale(0.5);
      transform-origin: bottom center;
      opacity: 0;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }
  }
}
