.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem; // TODO: temporary set
  width: min(100%, 720px);
  padding: 2rem 0.5rem;

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: var(--border-radius-lg);

  transition: all 0.5s ease;

  &:hover {
    border: 1px solid var(--border-primary);

    .mockupBackground {
      width: 90%;
    }
    
    img { // TODO: fix selector, but also scale for 2+ images
      top: 0.25rem;
      transform: translateX(-50%) rotate(5deg);
    }
  }
}

.mockupFrame {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  height: 192px; // TODO: temporary set
  border-radius: var(--border-radius-md);
  overflow: hidden;

  .mockupBackground {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;

    width: 100%;
    height: 120px; // TODO: temporary set
  
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-md);

    transition: all 0.5s ease;

    @media (min-width: 480px) {
      width: min(100%, 500px);
    }
  }

  img {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    transform-origin: center;
    
    transition: all 0.3s ease;
  }
}

.content {
  width: min(100%, 500px);

  .title {
    margin-bottom: 0.25rem;
    color: var(--text-strong);
  }
}

