:root {
  /* Colors */
  --bg-primary: #FFFFFF;
  --bg-secondary: #EDEDED;

  --text-primary: #5A5A5A;
  --text-subtle: #949494;
  --text-strong: #3E3E3E;
  --text-disabled: #B7B7B7;
  
  --border-primary: #EAEAEA;

  --brand-content: #58A1F0;
  --brand-focus: #3C99FF;

  --border-radius-sm: 16px;
  --border-radius-md: 24px;
  --border-radius-lg: 48px;
  /* Shadows */
  // --shadow-sm: 0 2px 20px rgba(0, 0, 0, 0.05);
  // --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.25);
  --shadow-lg: 0 2px 20px rgba(0, 0, 0, 0.15);
}
