*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  font-size: var(--fs-xl);
  font-weight: 600;
}

/*-------- Default style --------*/
h1, h2, h3, p {
  margin: 0;
}