:root {
  /*-------- Global Style --------*/
  --primary-color: ;
  --secondary-color: rgba(79, 79, 79);
  --accent-color: rgba(63, 172, 255);
  
  --bg-color: rgba(249, 249, 249);
  --white: rgba(255, 255, 255);
  --light-gray: rgba(204, 204, 204);
  --muted-blue: rgba(111, 159, 196);
  --green: rgba(103, 222, 67);

  --border-color: rgba(234, 234, 234);
  --accent-border-color: rgba(201, 228, 255);
  --border-radius: 1rem;
  
  --font-family: "Manrope";
  --fs-xl: 1.5rem;
  --fs-lg: ;
  --fs-md: 0.875rem;
  --fs-sm: 0.75rem;

  /*-------- Component-Specific --------*/
  --card-bg-color: rgba(248, 248, 248);
}
