.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -5rem;
  margin-bottom: 2.5rem;

  h1 {
    color: var(--text-strong);
  }
  h2 {
    margin-bottom: 0.25rem;
    color: var(--text-disabled);
  }
}

.Placeholder {
  // TODO: Swap this out with a real image
  margin-inline: auto;
  margin-bottom: 1.5rem;
  // width: min(100%, 400px);
  width: 70%;
  height: 80px;

  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-md);

  transition: width 0.5s ease;

  &:hover {
    width: 80%;
  }
}

.Description {
  margin-inline: auto;
  max-width: 400px;
  padding-inline: 1rem;

  color: var(--text-subtle);

  b {
    font-weight: var(--weight-semibold);
    color: var(--text-primary);
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ProjectCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 5rem;

    // margin-top: 2rem;
    width: 100%;
  }
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  .contactHeader {
    margin-bottom: 1.5rem;
    color: var(--text-strong);

    h2 {
      font-size: 3rem;
      line-height: var(--line-height-negative);
      font-weight: var(--weight-extrabold);
    }
  }

  .contactBtns {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
  }
}
