.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem;

  background-color: var(--bg-color);
  background: linear-gradient(var(--bg-color) 90%, var(--blue-bg-color));
  z-index: 1;
}

.bgBall {
  position: absolute;
  top: -20svh;
  right: -40svw;
}

/* TODO: fix the positioning of the texts in relation to the image */
/* -- this includes fixing the height adjustment of the hero section! */

.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 3rem;
  padding-top: 8vh;

  overflow: visible;
}

.heroText h1 {
  margin-bottom: 0.3333333333em;
}

.heroText {
  padding-left: 0.25em;
  margin-bottom: 1.25em;
}

.lettersContainer {
  position: relative;
  margin-bottom: 2rem;
  width: 150svw;
}

.letters {
  width: 100%;
}

.lettersContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -25%;
  width: 100%;
  height: 150%;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--blue-bg-color) 30%, var(--blue-bg-color) 60%, rgba(0, 0, 0, 0));
  
  z-index: -1;
  /* filter: blur(); */
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: 3em;
  margin-bottom: 0.25rem;
}

footer h4 {
  color: var(--muted-blue);
  margin-bottom: 0.25em;
}

footer p {
  color: var(--muted-blue);
  font-size: 0.5rem;
}