.Card {
  padding: 0.25em;

  width: min(100%, 800px);

  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.Card:hover .container {
  background-color: var(--bg-color); 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75em;
  
  border-radius: calc(var(--border-radius) - 0.25em);

  transition: 0.2s;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

/* TODO: review this sizing constraint */
.Card img {
  width: 2rem;
  height: 2rem;

  border-radius: 0.5em;
}