.Card {
  padding: 0.25em;

  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75em;

  /* background-color: var(--card-bg-color); */
  /* background-color: var(--white); */
  border-radius: calc(var(--border-radius) - 0.25em);
}

.content {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

/* TODO: review this sizing constraint */
.Card img {
  width: 32px;
  height: 32px;

  border-radius: 0.5em;
}