.NavBar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 0.25rem 1.25rem;
  
  background-color: var(--background-color);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
}

ul {
  position: relative; // Ensure that offsetLeft works properly
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem 0.5rem;

  p {
    // width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease;
  }
}

img {
  width: 1.5rem;
}

.Icon {
  font-size: 1.25rem;
}

.Indicator {
  position: absolute;
  height: 100%;
  background-color: blue;
  z-index: 0;
}