.NavBar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 100;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0.5rem;
  
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);

  ul {
    position: relative; // Ensure that offsetLeft works properly
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.125rem;
  }
}

.Tab {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-sm);
  transition: all 0.3s ease;
  
  .label {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  @media (min-width: 480px) {
    gap: 0.5rem;

    .label {
      width: fit-content;
    }
  }

  &.Selected {
    color: white;
    transition: color 0.2s ease;
  }

  &:not(.Selected):hover {
    background-color: var(--bg-secondary);
  }
}

.Icon {
  font-size: 1.25rem;
}

.Indicator {
  position: absolute;
  z-index: 0;

  height: 100%;

  background-color: var(--brand-focus);
  border-radius: var(--border-radius-sm);

  transition: left 0.3s ease, width 0.6s ease;
}