@import './styles/global.css';
@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  font-family: var(--font-family), Inter, system-ui, sans-serif;
  background-color: var(--bg-color);  /* TODO: add gradient */
}

body {
  margin: 0;
  padding: 1.75rem;
}

#root {
  /* TODO: [pre-dev] rase these once changes are deployed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80svh;

  color: black;
}

img {
  /* TODO: [pre-dev] rase these once changes are deployed */
  margin-inline: auto;
  width: min(30svw, 150px);
}

p {
  color: gray;
  /* font-weight: 600; */
  text-align: center;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */