@import './styles/global.css';
@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  font-family: var(--font-family), Inter, system-ui, sans-serif;
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 1.75rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80svh;

  color: black;
  text-align: center;
}

img {
  margin-inline: auto;
  width: min(30svw, 150px);
}

p {
  color: gray;  
}